.user-order-history {
    color: black;
    font-size: 11px;
    margin: 2%;
}


.user-order-id h2{
    font-size: 14px;
}

.user-order-restaurant-name h2 {
    font-size: 14px
    
}

.user-order-status h2 {
    font-size: 14px
    
}

link {
    color: black;
    text-decoration: none;
    
}

.user-order-status-confirm{
    height: 35px;
    transition-duration: 0.4s;
    background-color: #242424;
    color: white;
    border: #242424 1px solid;
}
.user-order-status-confirm:hover{
    background-color: white; /* Green */
    color: #242424;
}

