.user-order-history {
  color: black;
  font-size: 11px;
  border: #242424 1px solid;
}

.user-order-id h2 {
  margin-top: 5%;
  font-size: 14px;
  font-weight: bold;
}

.user-order-restaurant-name h2 {
  font-size: 14px;
  font-weight: bold;
}

.user-order-status h2 {
  font-size: 14px;
  font-weight: bold;
}

link {
  color: black;
  text-decoration: none;
}

.user-order-status-confirm {
  font-size: 16px;
  height: 40px;
  transition-duration: 0.4s;
  background-color: #242424;
  opacity: 0.8;
  color: white;
  border: #242424 1px solid;
}
.user-order-status-confirm:hover {
  background-color: #242424;
  opacity: 0.5; /* Green */
  color: white;
}

.order-history-item-name {
  font-size: 14px;
  font-weight: bold;
  margin: 2%;
}
.order-history-item-price {
  font-size: 14px;
  margin: 2%;
}
.order-history-item-quantity {
  font-size: 14px;
  margin: 2%;
}
.order-history-item-total {
  font-size: 14px;
  margin: 2%;
}
.order-history-item-grand-total {
  font-size: 14px;
  margin: 2%;
}
