/*=========================================================================Restaurant Signup================================================*/

.restaurant_signup_form {
  text-align: center;
}

.restaurant-signup-container {
  box-shadow: 5px 10px 38px var(--prime-lightred);
  /* box-shadow: 5px 10px 25px #fe724c inset; */
  border-radius: 25px;
  /* background: url("./Images/signup-image.jpg");
  background-size: cover; */
  background-color: white;
  margin-top: 5%;
  margin-bottom: 5%;
}

.restaurant-signup-submit-button {
  border-radius: 5px;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 50px;
  font-size: 22px;
  width: 100%;
  transition-duration: 0.4s;
  color: white;
  background-color: var(--prime-lightred);
  border: none;
}

.restaurant-signup-submit-button:hover {
  background: var(--btn-hover-grad); /* Green */
  color: white;
  border: none;
}

.restaurant-signup-submit-button-div {
  text-align: center;
}

/*============================================================================Foodie Signup===================================================*/

.foodie_signup_container {
  max-width: 1000px;
  margin: auto;
  margin-top: 2%;
}

.form-fields {
  padding-top: 10px;
}

.image img {
  width: 500px;
  height: 700px;
}

.image {
  width: 500px;
  height: 700px;
}

.foodie_signup_form {
  box-shadow: 5px 10px 38px var(--prime-lightred);
  /* box-shadow: 5px 10px 25px #fe724c inset; */
  border-radius: 25px;
  /* background: url("./Images/signup-image.jpg");
  background-size: cover; */
  background-color: white;
  color: white;
  text-align: center;
  width: 500px;
  height: 700px;
}

.foodie-signup-form-title h1 {
  /* color: var(--prime-lightred); */
  background: linear-gradient(
    90deg,
    rgba(190, 91, 64, 1) 5%,
    rgba(198, 78, 78, 1) 60%,
    rgba(228, 124, 95, 1) 99%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 50px;
  padding-bottom: 10%;
}

.submit {
  padding-top: 50px;
  color: black;
}

.fields {
  width: 80%;
}

.mobilecode {
  width: 300px;
}

.mobilecode_field {
  display: flex;
  padding-left: 50px;
}

.mobilecode_button {
  margin-top: 10px;
}

.emailcode {
  width: 300px;
}

.emailcode_field {
  display: flex;
  padding-left: 50px;
}

.emailcode_button {
  margin-top: 10px;
}

.already {
  margin-top: 10px;
  color: black;
}

.foodie-signup-submit-button {
  border-radius: 5px;
  margin-top: 10%;
  height: 50px;
  width: 80%;
  transition-duration: 0.4s;
  background-color: var(--prime-lightred);
  color: white;
  border: none;
}

.foodie-signup-submit-button:hover {
  background: var(--btn-hover-grad); /* Green */
}

.foodie-signup-fields {
  width: 400px;
}

/*========================Media Querries ===================================*/
@media (max-width: 999px) {
  .foodie_signup_form {
    width: 95%;
    margin: auto;
    margin-top: 5%;
    height: auto;
  }
  .foodie-signup-fields {
    width: 95%;
  }
  .title h1 {
    font-size: 16px;
    font-weight: unset;
  }
  .form-fields {
    width: 95%;
  }
}
