.Menus {
  margin: 1%;
}

.user-menus-grid {
  display: grid;
  justify-items: center;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.menu-restaurant-profile {
  box-shadow: 5px 10px 38px var(--prime-lightred);
  /* background: url("../MainPage/img/main1.jpg"); */
  /* background-color: #242424;
  opacity: 0.8; */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  color: white;
  height: 400px;
  width: 100%;
  text-align: center;
  /* filter: blur(4px);
  -webkit-filter: blur(2px); */
  /* Full height */
  /* height: 100%; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  box-shadow: 5px 10px 38px var(--prime-lightred);
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  /* border: 3px solid #fe724c; */
  position: absolute;
  margin-top: 5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
  /* padding: 15px; */
  text-align: center;
}

.user-menu-restaurant-name {
  font-family: cursive;
  font-size: 50px;
  font-weight: bold;
}
.user-menu-restaurant-address {
  font-size: 25px;
}
.user-menu-restaurant-contact {
  font-size: 25px;
}
.user-menu-restaurant-category {
  font-size: 25px;
}

.restaurant-item-check {
  font-size: 22px;
  text-align: center;
}

.user-book-table-button {
  color: white;
  border-radius: 10px;
  height: 50px;
  min-width: 150px;
  /* max-width: 500px; */
  background-color: var(--prime-lightred);
  border: none;
  font-size: var(--p-big-screen);
  margin-bottom: 20px;
}
.user-book-table-button:hover {
  background: var(--btn-hover-grad);
}
.book-table-modal {
  z-index: 2001;
}
.book-table-send-button {
  border: none;
  color: white;
  background-color: var(--prime-lightred);
}
.book-table-send-button:hover {
  color: white;
  background: var(--btn-hover-grad);
}
.book-table-send-button:link {
  background: var(--btn-hover-grad);
}

.timePick {
  width: 100%;
  height: 50px;
  text-align: start;
}
/* .book-table-person-field {
  height: 100px;
} */

@media (max-width: 480px) {
  .Menus {
    margin: 1%;
  }
  .user-menus-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .menu-restaurant-profile {
    /* background-color: #242424;
    opacity: 0.8;
    color: white;
    border-radius: 50px 0px;
    height: 200px;
    border: black 1px solid;
    text-align: center; */
  }

  .user-menu-restaurant-name {
    font-size: 30px;
    font-weight: bold;
  }
  .user-menu-restaurant-address {
    font-size: 15px;
    color: white;
  }
  .user-menu-restaurant-contact {
    font-size: 15px;
  }
  .user-menu-restaurant-category {
    font-size: 15px;
  }
}
