.newsletter {
  /* background: url("../../MainPage/img/food2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  background: var(--btn-hover-grad);
  height: 400px;
  margin-top: 1px;
  text-align: center;
  border-bottom: white 1px solid;
}

.newsletter-cont {
  margin-top: 1px;
  text-align: center;
}

/*   Title of News Letter*/
.newsletter-title {
  font-size: var(--h1-big-screen);
  font-weight: bolder;
  padding-top: 80px;
  text-align: center;
  color: var(--prime-white);
  border-color: white;
}

.newsletter-field {
  border: 1px solid var(--prime-white);
  border-radius: 4px;
  font-size: 18px;
  height: 50px;
  width: 500px;
  margin-top: 20px;
}
.newsletter-field:defined {
  color: var(--prime-shinegrey);
}
.subscribe_button {
  margin-top: 20px;
}

.newsletter-submit-button {
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  width: 13rem;
  border-radius: 25px;
  transition-duration: 0.4s;
  background-color: var(--btn-hover-grad);
  color: white;
  border: white 1px solid;
}

.newsletter-submit-button:hover {
  background: var(--btn-hover-clr);
  background: var(--btn-hover-grad);
}

/*===========================Media Queries ================================*/
@media (max-width: 550px) {
  .newsletter-field {
    font-size: 18px;
    height: 40px;
    width: 80%;
    margin-top: 20px;
  }
  .newsletter-cont {
    height: 50px;
  }
  .newsletter-submit-button {
    font-size: 18px;

    width: 11rem;
  }

  .newsletter-title {
    font-size: 32px;
  }
}
