.newsletter {
    background-color: #242424;
    height: 400px;
    margin-top: 1px;
    text-align: center;
    border-bottom: white 1px solid;
    font-size: 11px;
}

.newsletter-cont {
    margin-top: 1px;
    text-align: center;
}

/*   Title of News Letter*/
.newsletter-title {
    padding-top: 80px;
    text-align: center;
    color: white;
}




.newsletter-field {
    font-size: 18px;
    height: 50px;
    width: 500px;
    margin-top: 20px;
}

.subscribe_button {
    margin-top: 20px;
}


.newsletter-submit-button {
    height: 50px;
    width: 11rem;
    transition-duration: 0.4s;
    background-color: #242424;
    color: white;
    border: white 1px solid;
  }
  
  .newsletter-submit-button:hover {
    background-color: white; /* Green */
    color: black;
  }
    







/*===========================Media Queries ================================*/
@media (max-width: 550px) {
    .newsletter-field {
        font-size: 16px;
        height: 40px;
        width: 80%;
        margin-top: 20px;
    }
    .newsletter-cont {
        height: 50px;
    }
    .newsletter-submit-button {
        font-size: 14px;
        height: 35px;
        width: 11rem;
        
      }

      .newsletter-title {
        font-size: 18px;
    }
    
      
}