/* .Restaurants {
  margin: 1%;
} */

.restaurants_grid {
  margin-top: 5%;
  margin-bottom: 10%;
  display: grid;
  justify-items: center;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.restaurant-page-button {
  border-radius: 5px;
  width: auto;
  height: 60px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: var(--button-big-screen);
  font-weight: bold;
  color: white;
  background-color: var(--prime-lightred);
  border: none;
}
.restaurant-page-button:hover {
  background: var(--btn-hover-clr);
  background: var(--btn-hover-grad);
}
.restaurant-filter-input {
  height: 60px;
}
.restaurant-filter-button {
  font-size: var(--button-big-screen);
  font-weight: bold;
  color: white;
  background-color: var(--prime-lightred);
  border: none;
  height: 60px;
}
.restaurant-filter-button:hover {
  font-size: var(--button-big-screen);
  font-weight: bold;
  color: white;
  background-color: var(--prime-lightred);
  border: none;
}
.restaurant-filter-button:focus {
  box-shadow: none;
  outline: 0 none;
}

.restaurant-filter-button-dropdown {
  background-color: white;
}
.restaurant-page-location-bar {
  width: 40%;
}

.restaurant-page-location {
  padding-top: 15%;
  padding-left: 2%;
  background: url("../MainPage/img/Rest-Page-2.jpg");

  background-size: cover;
  height: 600px;
  margin-bottom: 1px;
}
.restaurant-page-location h1 {
  color: var(--prime-shinegrey);
  text-align: start;
  font-size: 50px;
  margin-bottom: 5%;
  padding-left: 15px;
}

@media (max-width: 480px) {
  .Restaurants {
    margin: 0%;
  }
  .restaurants_grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .restaurant-page-location-bar {
    width: auto;
  }
  .restaurant-page-location h1 {
    font-size: 32px;
  }

  .restaurant-filter-button {
    /* height: 40px; */
    width: 200px;
    font-size: 14px;
  }

  .restaurant-filter-input {
    width: 400px;
  }
}
