.Restaurants {
    margin: 1%;
}

.restaurants_grid {
    display: grid;
    justify-items: center;
    grid-gap: auto;
    row-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}



@media (max-width: 480px) {
    .Restaurants {
        margin: 0%;
    }
    .restaurants_grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
