@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");

.title-tag-h1 {
  margin-top: 7%;
  margin-bottom: 3%;
  text-transform: Uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  background: linear-gradient(
    90deg,
    rgba(190, 91, 64, 1) 5%,
    rgba(198, 78, 78, 1) 60%,
    rgba(228, 124, 95, 1) 99%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* border-bottom: var(--prime-lightred) 1px solid; */
}

@media (max-width: 800px) {
  .title-tag-h1 {
    font-size: 32px;
  }
}
