/*===============================Header==================================*/

.Restaurant-Header {
  width: 100%;
  display: flex;
  padding-right: 5%;
  position: sticky;
  z-index: 2000;
  top: 0;
  background-color: #242424;
  height: 80px;
  align-items: center;
}

.restaurant-header-navbar {
  width: 100%;
}

.restaurant-navbar-menu {
  display: flex;
  float: right;
}

.restaurant-navbar-menu ul {
  margin: auto;
  list-style-type: none;
  display: inline;
  display: flex;
  float: right;
}

.restaurant-navbar-menu ul li {
  font-size: 18px;
  padding: 10px;
  color: white;
}

.restaurant-logo-name-link {
  margin-left: 5%;
  float: left;
  color: white;
}

.restaurant-logo-name-link h2 {
  font-size: 40px;
  color: white;
  float: left;
}

.restaurant-logo-name-link:link {
  text-decoration: none;
  color: white;
}

.restaurant-header-link:hover {
  text-decoration: none;
  color: #3f51b5;
}
.restaurant-header-link.active {
  font-weight: bold;
}

.restaurant-profile-link {
  color: white;
  float: right;
  margin-top: 15px;
}

@media (max-width: 480px) {
  .Restaurant-Header {
    height: 100px;
  }
  .restaurant-navbar-menu {
    text-align: center;
  }

  .restaurant-navbar-menu ul {
    text-align: center;
    width: 100%;
  }

  .restaurant-navbar-menu ul {
    list-style-type: none;
    display: inline;
    float: none;
  }

  .restaurant-logo-name-link {
    color: white;
  }

  .restaurant-logo-name-link h2 {
    font-size: 22px;
  }
}
