.faq {
  width: 50%;
  margin: auto;
}

.faq-list {
  width: 100%;
  height: auto;
}

.faq-questions {
  font-family: cursive;
  text-align: center;
  width: auto;
  font-size: 22px;
  color: var(--prime-shinegrey);
  font-weight: bold;
}

.faq-answers {
  text-align: center;
  margin-bottom: 3%;
  font-size: 22px;
  color: var(--prime-shinegrey);
}

@media (max-width: 400px) {
  .faq {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .faq-questions {
    font-size: 20px;
  }

  .faq-answers {
    font-size: 16px;
  }
}
