
.faq{
  width: 80%;
  margin: auto;
}

.faq-list{
  width: 100%;
  height: auto;

  
}

.faq-questions{
  width: auto;
  background-color: #242424; opacity: 0.7;
  font-size: 26px;
  color: white;
  font-weight: bold;

  
}




.faq-answers{
  margin-bottom: 3%;
  font-size: 22px;
  color: black;

}


