/*=============================Footer Component=============================*/

.Footer {
  /* background: transparent; */
  /* border-top: 1px solid var(--prime-shinegrey); */
  /* background-color: white; */
  padding-bottom: 20px;
  bottom: 0;

  /* background-color: rgb(0, 0, 0); 
  background-color: rgba(254, 114, 76, 0.8); Black w/opacity/see-through */
}
.Footer-b {
  border-bottom: 1px gray solid;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-top: 5%;
}
.Footer-b h1 {
  font-family: sans-serif;
  font-size: 22px;
  color: var(--prime-shinegrey);
  font-weight: 900;
}

/* .Footer div {
  padding-top: 5%;
} */
.Footer li {
  list-style: none;
}

.footer-child li {
  font-size: 16px;
  margin-top: 10px;
}

.footer-child {
  text-align: center;
  margin-bottom: 80px;
}

.footer-bottom-mark {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
.footer-bottom-mark h1 {
  color: var(--prime-shinegrey);
  font-size: 14px;
  padding-top: 10px;
}

.a:link {
  text-decoration: none;
  color: var(--prime-shinegrey);
}

.a:hover {
  text-decoration: underline;
  color: var(--prime-shinegrey);
}
.a:visited {
  text-decoration: underline;
  color: var(--prime-shinegrey);
}

.a:current {
  text-decoration: underline;
}

/* visited link */

.a:active {
  text-decoration: underline;
  /* color: blue; */
}

.footer-child Link {
  color: #242424;
}

.fa-facebook {
  color: #3b5998;
}

.fa-instagram {
  color: var(--prime-shinegrey);
  padding-left: 10px;
}

.fa-cc-mastercard {
  color: #eb001b;
}

.fa-cc-visa {
  color: #1a1f71;
  margin-left: 10px;
}

.fa-linkedin {
  color: #0077b5;
}
.fa-linkedin:hover {
  color: #0077b5;
}
.fa-facebook:hover {
  color: #3b5998;
}

.follow-icon-link:link {
  text-decoration: none;
}
