.partener-image {
  min-height: 500px;
  height: auto;
  background: url("../../MainPage/img/food2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 1px;
  padding-bottom: 20px;
  border-bottom: black 1px solid;
}
.partener-container {
  text-align: center;
}
.partener-container img {
  width: 100%;
  max-width: 100%;
  max-height: 700px;
}

.partener-text {
  font-size: 19px;
  width: 100%;
  padding-top: 10%;
}
.partener-text h1 {
  font-size: 50px;
}

.partener-text h1 {
  color: var(--prime-shinegrey);
}

.partener-text p {
  font-size: 22px;
  color: var(--prime-shinegrey);
}
.partener-button {
  margin-top: 2rem;
}

.partner-button {
  height: 3rem;
  width: 18rem;
  transition-duration: 0.4s;
  background-color: var(--prime-lightred);
  border-radius: 5px;
  border: none;

  color: white;
}

.partner-button:hover {
  background: var(--btn-hover-clr);
  background: var(--btn-hover-grad);
}

/*===========================Media Queries ================================*/
@media (max-width: 700px) {
  .partner-button {
    min-height: 55px;
    width: auto;
  }

  .partener-text h1 {
    margin-top: 4rem;
    font-size: 32px;
    margin-bottom: 1.5rem;
  }

  .partener-text {
    width: 100%;
  }
}
