.partener-image {
  min-height: 500px;
  height: auto;
  background: var(--prime-lightred);
  /* background: url("../../MainPage/img/food2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  margin-bottom: 1px;
  padding-bottom: 20px;
  border-bottom: black 1px solid;
}
.partener-container {
  text-align: center;
}
.partener-container img {
  width: 100%;
  max-width: 100%;
  max-height: 700px;
}

.partener-text {
  font-size: 19px;
  width: 100%;
  padding-top: 5%;
}
.partener-text h1 {
  font-size: var(--h1-big-screen);
  font-weight: 900;
}

.partener-text h1 {
  color: var(--prime-shinegrey);
  padding-bottom: 2%;
}

.partener-text p {
  margin: auto;
  font-size: var(--p-big-screen);
  color: var(--prime-shinegrey);
  width: 50%;
  padding-bottom: 5%;
}
.partener-button {
  margin-top: 2rem;
}

.partner-button {
  height: 3rem;
  width: 18rem;
  transition-duration: 0.4s;
  background-color: var(--prime-lightred);
  border-radius: 5px;
  border: var(--prime-white) 1px solid;

  color: white;
}

.partner-button:hover {
  background: var(--btn-hover-clr);
  background: var(--btn-hover-grad);
}

/*===========================Media Queries ================================*/
@media (max-width: 700px) {
  .partner-button {
    min-height: 55px;
    width: auto;
  }

  .partener-text h1 {
    margin-top: 4rem;
    font-size: 32px;
    margin-bottom: 1.5rem;
  }
  .partener-text p {
    width: 90%;
  }

  .partener-text {
    width: 100%;
  }
}
