.MainPage {
  background-color: white;
}

.main-page-image-gallery {
  margin-top: 1px;
}

@media (max-width: 550px) {
  .main-page-image-gallery {
    height: 100%;
  }
}

/*============Client==============*/
.client-row {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: auto;
}
.client-container {
  width: 100%;
}

.clients {
  width: 100%;
  padding: 100px 0;
  background: var(--prime-white);
  /* background: url("./img/food2.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  font-size: 24px;
  color: white;
  /* background-attachment: fixed; */
  height: 400px;
}

.client {
  border-radius: 25px;
  width: 100%;
  text-align: center;
}
.client h1 {
  padding-top: 20%;
  width: auto;
  color: var(--prime-lightred);
  font-size: 28px;
  font-weight: bolder;
}
.client p {
  font-family: cursive;
  color: var(--prime-shinegrey);
  justify-items: center;
  font-size: 28px;
  font-weight: bolder;
}

@media (max-width: 700px) {
  .clients {
    height: 100%;
  }
}

@media (max-width: 700px) {
  .col-3,
  .col-4,
  .col-6 {
    width: 100%;
  }

  .client h1 {
    font-size: 22px;
  }
  .client p {
    font-size: 32px;
  }
}

/*========================Main Page 1st Pic==================================*/
.main-page-location-bar {
  width: 30%;
}

.main-page-location {
  padding-top: 15%;
  padding-left: 2%;
  background: url("./img/main1.jpg");

  background-size: cover;
  height: 600px;
  margin-bottom: 1px;
}
.main-page-location h1 {
  color: var(--prime-shinegrey);
  text-align: start;
  font-size: 50px;
  margin-bottom: 5%;
}
.main-page-delivery-button {
  border-radius: 5px;
  width: 100px;
  height: 50px;
  margin: 10px;
  color: white;
  background-color: var(--prime-lightred);
  border: none;
}
.main-page-delivery-button:hover {
  background: var(--btn-hover-clr);
  background: var(--btn-hover-grad);
}
.main-page-pickup-button {
  border-radius: 5px;
  width: 100px;
  height: 50px;
  margin: 10px;
  color: white;
  background-color: var(--prime-lightred);
  border: none;
}
.main-page-pickup-button:hover {
  background: var(--btn-hover-clr);
  background: var(--btn-hover-grad);
}
@media (max-width: 800px) {
  .main-page-location-bar {
    width: auto;
  }
  .main-page-location h1 {
    font-size: 32px;
  }
}

/*============================Main Page SLider Images=============*/
.main-page-slide-h1 {
  font-size: 50px;
  color: var(--prime-lightred);
  padding-bottom: 2%;
  font-weight: bold;
}
.main-page-slide-p {
  font-size: 32px;
  color: var(--prime-shinegrey);
  margin-bottom: 10%;
  font-weight: bold;
}
.main-slide-button {
  margin-bottom: 5%;
}

.d-block {
  height: 700px;
}
.p1 {
  background: url("./img/slide-1.jpg");
  background-size: cover;
  height: 600px;
}
.p2 {
  background: url("./img/slide-2.jpg");
  background-blend-mode: saturation;
  background-size: cover;
  height: 600px;
}
.p3 {
  background: url("./img/slide-3.jpg");
  background-size: cover;
  height: 600px;
}

@media (max-width: 800px) {
  .main-page-location {
    height: 400px;
  }
  .main-slide-button {
    min-width: 150px;
  }

  .d-block {
    height: 400px;
  }

  .main-page-slide-h1 {
    font-size: 42px;
  }
  .main-page-slide-p {
    font-size: 24px;
  }
}
@media (max-width: 541px) {
  .main-page-location {
    height: 400px;
  }

  .d-block {
    height: 300px;
  }
}

.bd-example {
  margin-bottom: 1px;
}
