
.Single_Restaurant {
      height: 450px;
      width: 400px;
      margin-top: 20px;
      background-color: white;
      border-bottom: #242424 1px solid;
      border-right: #242424 1px solid;
      border-left: #242424 1px solid;
}

.restaurant-image-container {
    width: 400px; 
}

.restaurant-title {
    color: black;
}

.restaurant_image {
    height: 300px;
    width: 400px;
}

h1 {
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.restaurant-address {
    color: black;
    font-size: 15px;
    text-align: center;
}

.rating {
    text-align: center;
}



.restaurant_link:link {
    color: black;
    text-decoration: none;
} 


.rating_title {

    color: black;
    font-size: 100px;
}



/*========================Media Queries ==========================*/
@media screen and (max-width: 480px) {
    .Single_Restaurant {
        margin: auto;
        width: 250px;
        height: 200px;
        background-color: white;
  }
  .restaurant-image-container {
      width: 100%;
}

.restaurant_image {
    height: 15rem;
    width: 100%;
}
.restaurant-title {
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: gray;
    font-size: 12px;
    text-align: center;
}
  }
