/*===================================================================Foodie Login===============================================================*/

.foodie_login_container {
  box-shadow: 5px 10px 38px var(--prime-lightred);
  border-radius: 25px;
  /* background: url("../Signup/Images/signup-image.jpg");
  background-size: cover; */
  background-color: white;
  max-width: 500px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 1%;
}

.form-fields {
  padding-top: 2px;
}

.foodie_login_form {
  border-radius: 25px;
  color: white;
  text-align: center;
}

.login-form-title {
  padding-top: 10%;
  padding-bottom: 20px;
}

.login-form-title h1 {
  font-size: 32px;
  background: linear-gradient(
    90deg,
    rgba(190, 91, 64, 1) 5%,
    rgba(198, 78, 78, 1) 60%,
    rgba(228, 124, 95, 1) 99%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submit {
  padding-top: 50px;
  color: black;
}

.mobilecode {
  width: 3000px;
}

.mobilecode_field {
  padding-left: 500px;
}

.mobilecode_button1 {
  margin-top: 10px;
}
.mobilecode_button2 {
  margin-top: 10px;
}

.already {
  margin-top: 10px;
}

.email,
.password {
  width: 90%;
}

.email :checked {
  color: white;
}

.login-submit-button {
  height: 50px;
  width: 90%;
  margin-bottom: 10%;
  border-radius: 5px;
  transition-duration: 0.4s;
  background-color: #fe724c;
  color: white;
  border: none;
}

.login-submit-button:hover {
  background: var(--btn-hover-grad);
}

/*========================Media Querries ===================================*/
@media (max-width: 480px) {
  .foodie_login_form {
    color: white;
    margin: auto;
    height: 450px;
  }

  .title h1 {
    font-size: 16px;
    font-weight: unset;
  }
  .email,
  .password {
    width: 95%;
  }
}
