:root {
  --prime-red: #f55951;
  --prime-lightred: #fe724c;
  --prime-warningt: #cc3300;
  --prime-darkgrey: #2b2b2b;
  --prime-lightgrey: #5e5e5e;
  --prime-lightestgrey: #d7d7d7;
  --prime-shinegrey: #272d2f;
  --prime-white: #ffff;
  --prime-yellow: #ffc529;
  --btn-hover-clr: rgb(190, 91, 64);
  --btn-hover-grad: linear-gradient(
    90deg,
    rgba(190, 91, 64, 1) 5%,
    rgba(198, 78, 78, 1) 60%,
    rgba(228, 124, 95, 1) 99%
  );

  --h1-big-screen: 38px;
  --h2-big-screen: 30px;
  --p-big-screen: 22px;
  --button-big-screen: 18px;
}
.App {
  font-family: sans-serif;
  color: #272d2f;
  /* background-color: whitesmoke; */
}
body {
  /* background: url("./Components/Signup/Images/signup-image.jpg");

  background-size: cover; */
  /* background: red; */
}

.boot-button {
  background: var(--prime-lightred);
  border: none;
  color: white;
}
.boot-button:hover {
  background: var(--btn-hover-grad);
  color: white;
}
.boot-modal-header {
  background: var(--btn-hover-grad);
  color: white;
  align-items: center;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: var(--prime-shinegrey);
  box-shadow: none;
  outline: 0 none;
}
